@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overflow-hide {
  overflow: auto;
  overflow-x: hidden;
  height: 400px;
}

.overflow-hide-modal {
  overflow: auto;
  overflow-x: hidden;
  height: 450px;
}

.overflow-hide-accept {
  overflow: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.overflow-hide-print {
  overflow: auto;
  overflow-x: hidden;
  height: 500px;
  width: 300px;
}